@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+Pro:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: 0;
  outline: none;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.container {
  max-width: 1354px;
  margin: 0 auto;
  padding: 0 32px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 1338px;
    padding: 0 24px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 1322px;
    padding: 0 16px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 1338px;
    padding: 0 16px;
  }
}
.header-contact p:nth-of-type(1) {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #0C131D;
}
.header-contact p:nth-of-type(2) {
  font-size: 16px;
  line-height: 150%;
  color: #557D8E;
}
.header-contact.first-header-contact p:nth-of-type(2) {
  text-align: right;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgb(247, 249, 250);
  border-radius: 44px;
  cursor: pointer;
  transition: background ease-in 0.25s;
}
.close:hover {
  background: rgb(227, 227, 227);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 22px 0 30px 0;
  background-color: #fff;
}

.header__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header__row .header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 24px;
}
.header__row .header__content .header__language {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.header__row .header__content .header__language .language {
  padding: 6px 10px;
  transition: color ease-in 0.25s;
}
.header__row .header__content .header__language .language:nth-of-type(1) {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 66, 114, 0.1);
  border-radius: 4px 4px 0px 0px;
  color: #0C131D;
}
.header__row .header__content .header__language .language:nth-of-type(1):hover {
  color: #009FE3;
}
.header__row .header__content .header__language .language:nth-of-type(2) {
  background: #F7F9FA;
  border-radius: 0px 0px 4px 4px;
  color: #557D8E;
}
.header__row .header__content .header__language .language:nth-of-type(2):hover {
  color: #009FE3;
}
.header__row .header__content .header__burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 66, 114, 0.1);
  border-radius: 4px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transition: all ease-in 0.25s;
}
.header__row .header__content .header__burger-menu:hover {
  background-color: #009FE3;
  box-shadow: 0px 5px 50px rgba(0, 53, 92, 0.05), 0px 24px 32px rgba(0, 53, 92, 0.04), 0px 16px 24px rgba(0, 53, 92, 0.04), 0px 0px 10px rgba(0, 66, 114, 0.1);
}
.header__row .header__content .header__burger-menu:hover span {
  background-color: #fff;
}
.header__row .header__content .header__burger-menu span {
  display: inline-block;
  width: 19.5px;
  height: 2.5px;
  background: #0C131D;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  transition: background-color ease-in 0.25s;
}
.header__row .header__content .header__burger-menu span:not(:nth-of-type(1)) {
  margin-top: 6.75px;
}
.header__row .header__content .header__burger-menu span:nth-of-type(2) {
  width: 13.5px;
  margin-right: 5px;
}
.header__row .header__content .navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  transition: all ease-in 0.25s;
  overflow: hidden;
}
.header__row .header__content .navigation .navigation__content {
  position: relative;
  z-index: 1;
  width: 40%;
  height: 100vh;
  background-color: #fff;
  padding: 52px 45px;
  overflow: auto;
}
.header__row .header__content .navigation .navigation__language span {
  font-size: 13px;
  line-height: 120%;
  cursor: pointer;
  transition: color ease-in 0.25s;
}
.header__row .header__content .navigation .navigation__language span:nth-of-type(1) {
  padding-right: 8px;
  font-weight: 600;
  color: #0C131D;
  border-right: 2px solid #557D8E;
}
.header__row .header__content .navigation .navigation__language span:nth-of-type(1):hover {
  color: #009FE3;
}
.header__row .header__content .navigation .navigation__language span:nth-of-type(2) {
  padding-left: 8px;
  color: #557D8E;
}
.header__row .header__content .navigation .navigation__language span:nth-of-type(2):hover {
  color: #009FE3;
}
.header__row .header__content .navigation .menu {
  margin-top: 60px;
  margin-bottom: 48px;
  max-width: 334px;
}
.header__row .header__content .navigation .menu li:not(:first-of-type) {
  margin-top: 24px;
}
.header__row .header__content .navigation .menu li a {
  font-size: 16px;
  line-height: 150%;
  color: #0C131D;
  transition: color ease-in 0.25s;
}
.header__row .header__content .navigation .menu li a:hover {
  color: #009FE3;
}
.header__row .header__content .navigation .navigation__contact {
  margin-bottom: 24px;
}
.header__row .header__content .navigation .address {
  margin: 24px 0 54px 0;
  max-width: 267px;
  font-size: 16px;
  line-height: 150%;
  color: #0C131D;
}
.header__row .header__content .navigation .navigation__phone-btn {
  max-width: 221px;
}
.header__row .header__content .navigation .navigation__close {
  position: absolute;
  top: 40px;
  right: 48px;
}

@media screen and (max-width: 1024px) {
  .header__row .header__content .header__phone-btn {
    padding: 16px 24px 16px 24px;
    gap: 0px;
  }
  .header__row .header__content .header__phone-btn span:nth-of-type(2) {
    display: none;
  }
  .header__row .navigation .navigation__content {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .header__row .header__content .header-contact {
    display: none;
  }
  .header__row .header__content .header__phone-btn {
    display: none;
  }
  .header__row .header__content .navigation .navigation__content {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 20px 0 24px 0;
  }
  .header__row .header__logo {
    width: 129px;
    height: 56pxp;
  }
  .header__row .header__content .header__phone-btn {
    display: none;
  }
  .header__row .header__content .header__language {
    display: none;
  }
  .header__row .header__content .navigation .navigation__content {
    width: 100%;
  }
}
.phone-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 16px 24px;
  gap: 8px;
  background-color: #009FE3;
  box-shadow: 0px 0px 10px rgba(0, 66, 114, 0.2);
  border-radius: 4px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  transition: background-color ease-in 0.25s;
}
.phone-btn:hover {
  background-color: #0087C2;
  box-shadow: 0px 0px 10px rgba(0, 66, 114, 0.2);
}
.phone-btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.phone-btn-white {
  background-color: #fff;
  color: #009FE3;
}
.phone-btn-white:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgb(247, 249, 250);
  border-radius: 44px;
  cursor: pointer;
  transition: background ease-in 0.25s;
}
.close:hover {
  background: rgb(227, 227, 227);
}

.modal-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  transition: all ease-in 0.25s;
}

.modal-phone-btn__content {
  position: relative;
  display: flex;
  max-width: 804px;
  transition: transform ease-in 0.25s;
}
.modal-phone-btn__content .left-content {
  padding: 64px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background: linear-gradient(90deg, #3F9CD5 0%, #6DC1F4 100%);
  text-align: center;
}
.modal-phone-btn__content .left-content__text {
  font-family: "Source Sans Pro", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #FFFFFF;
}
.modal-phone-btn__content .right-content {
  width: 55%;
  background-color: #fff;
  padding: 80px 80px 64px;
}
.modal-phone-btn__content .right-content .content-form .form + .form {
  margin-top: 16px;
}
.modal-phone-btn__content .right-content .content-form .form:nth-of-type(3) {
  margin-bottom: 24px;
}
.modal-phone-btn__content .right-content .content-form .form label {
  display: flex;
  align-items: center;
  gap: 0 15px;
  padding: 16px 24px;
  background: #F7F9FA;
  border-radius: 4px;
}
.modal-phone-btn__content .right-content .content-form .form label input {
  background: none;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  color: #0C131D;
}
.modal-phone-btn__content .right-content .content-form .form label input::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: #0C131D;
}
.modal-phone-btn__content .right-content .content-form .form-text {
  font-size: 12px;
  line-height: 135%;
  color: #557D8E;
  margin-bottom: 24px;
}
.modal-phone-btn__content .right-content .content-form .submit-btn {
  width: 100%;
}
.modal-phone-btn__content .close-modal {
  position: absolute;
  top: 16px;
  right: 16px;
}

@media screen and (max-width: 992px) {
  .modal {
    align-items: flex-start;
  }
  .modal-phone-btn__content {
    max-width: 472px;
    flex-direction: column;
  }
  .modal-phone-btn__content .left-content {
    width: 100%;
  }
  .modal-phone-btn__content .left-content .left-content__text {
    max-width: 291px;
    text-align: left;
  }
  .modal-phone-btn__content .left-content .left-content__logo {
    display: none;
  }
  .modal-phone-btn__content .right-content {
    width: 100%;
    padding: 56px 64px 56px;
  }
}
@media screen and (max-width: 575px) {
  .modal-header {
    align-items: flex-start;
  }
  .modal-phone-btn__content {
    max-width: 288px;
    flex-direction: column;
  }
  .modal-phone-btn__content .left-content {
    width: 100%;
    padding: 56px 16px 32px;
  }
  .modal-phone-btn__content .left-content .left-content__text {
    max-width: 291px;
    text-align: left;
  }
  .modal-phone-btn__content .left-content .left-content__logo {
    display: none;
  }
  .modal-phone-btn__content .right-content {
    width: 100%;
    padding: 24px 16px;
  }
  .modal-phone-btn__content .right-content .content-form .form + .form {
    margin-top: 16px;
  }
  .modal-phone-btn__content .right-content .content-form .form:nth-of-type(3) {
    margin-bottom: 24px;
  }
  .modal-phone-btn__content .right-content .content-form .form label {
    display: flex;
    align-items: center;
    gap: 0 15px;
    padding: 16px 24px;
    background: #F7F9FA;
    border-radius: 4px;
  }
  .modal-phone-btn__content .right-content .content-form .form label input {
    background: none;
    width: 100%;
    font-size: 16px;
    line-height: 150%;
    color: #0C131D;
  }
  .modal-phone-btn__content .right-content .content-form .form label input::placeholder {
    font-size: 12px;
    line-height: 135%;
    color: #0C131D;
  }
  .modal-phone-btn__content .right-content .close-modal {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 7px;
    right: 7px;
  }
}
.header-contact p:nth-of-type(1) {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #0C131D;
}
.header-contact p:nth-of-type(2) {
  font-size: 16px;
  line-height: 150%;
  color: #557D8E;
}
.header-contact.first-header-contact p:nth-of-type(2) {
  text-align: right;
}

.main {
  margin-top: 140.4px;
}

.about {
  background-image: url("../../../img/about/about-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about .about__row {
  padding: 14.5% 0;
}
.about .about__row .card-about {
  position: relative;
  max-width: 550px;
  padding: 64px 56px 32px;
  background-color: #fff;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.about .about__row .card-about__title {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: justify;
  color: #0C131D;
}
.about .about__row .card-about__text {
  margin-top: 32px;
  margin-bottom: 100px;
  font-size: 16px;
  line-height: 165%;
  color: #0C131D;
}
.about .about__row .card-about__btns {
  display: flex;
  justify-content: flex-end;
  gap: 45px;
}
.about .about__row .card-about__btns span {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .about {
    height: auto;
  }
  .about .about__row {
    padding: 0;
  }
  .about .about__row .card-about {
    max-width: 100%;
    position: relative;
    top: 244px;
    padding: 56px 56px 52px 56px;
  }
  .about .about__row .card-about__text {
    margin-top: 32px;
    margin-bottom: 84px;
    font-size: 16px;
    line-height: 165%;
    color: #0C131D;
  }
}
@media screen and (max-width: 575px) {
  .about .about__row .card-about {
    max-width: 100%;
    position: relative;
    top: 205px;
  }
}
@media screen and (max-width: 375px) {
  .about .about__row .card-about {
    top: 226px;
    padding: 32px 20px;
  }
  .about .about__row .card-about__title {
    font-size: 20px;
    line-height: 125%;
  }
  .about .about__row .card-about__text {
    font-size: 16px;
    line-height: 165%;
    margin-top: 24px;
    margin-bottom: 50px;
  }
}
.company {
  background-color: #fff;
}
.company .company__row {
  padding: 128px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company .company__row .company__logo {
  max-width: 640px;
  border-right: 1px solid rgba(12, 19, 29, 0.1);
  padding-right: 16px;
}
.company .company__row .company__logo img:nth-of-type(1) {
  width: 100%;
}
.company .company__row .company__logo img:nth-of-type(2) {
  width: 0;
}
.company .company__row .company__info {
  padding-left: 128px;
  max-width: 528px;
}
.company .company__row .company__info .company__title {
  margin-bottom: 32px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: justify;
  color: #0C131D;
}
.company .company__row .company__info .company__text {
  font-size: 16px;
  line-height: 165%;
  color: #0C131D;
}

@media screen and (max-width: 1024px) {
  .company .company__row {
    padding: 333px 0 128px 0;
  }
  .company .company__row .company__logo {
    width: 401px;
    padding-right: 0;
  }
  .company .company__row .company__info {
    padding-left: 64px;
    max-width: 495px;
  }
}
@media screen and (max-width: 992px) {
  .company .company__row {
    flex-direction: column;
    padding: 283px 0 128px 0;
  }
  .company .company__row .company__logo {
    margin-top: 40px;
    padding-top: 40px;
    order: 2;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid rgba(12, 19, 29, 0.1);
    border-right: none;
  }
  .company .company__row .company__logo img:nth-of-type(1) {
    width: 0;
  }
  .company .company__row .company__logo img:nth-of-type(2) {
    width: 100%;
  }
  .company .company__row .company__info {
    padding-left: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .company .company__row {
    flex-direction: column;
    padding: 287px 0 96px 0;
  }
  .company .company__row .company__logo {
    margin-top: 32px;
    padding-top: 32px;
  }
  .company .company__row .company__info .company__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 375px) {
  .company .company__row {
    flex-direction: column;
    padding: 254px 0 66px 0;
  }
  .company .company__row .company__info .company__title {
    font-size: 20px;
  }
  .company .company__row .company__info .company__text {
    font-size: 14px;
  }
}
.benefits {
  background: #F7F9FA;
}
.benefits__content {
  padding: 128px 0;
}
.benefits__title {
  margin-bottom: 48px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #0C131D;
}
.benefits__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 0;
  justify-content: space-between;
}
.benefits .benefits-card {
  position: relative;
  width: calc(33.3333% - 21.3333px);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 362px;
  height: auto;
}
.benefits .benefits-card:hover .benefits-card-hover {
  opacity: 1;
}
.benefits .benefits-card-front {
  height: 100%;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 56px 56px 0 56px;
  transition: all ease-in 0.25s;
  height: 100%;
}
.benefits .benefits-card-front__img {
  margin-bottom: 32px;
  height: auto;
}
.benefits .benefits-card-front__text {
  font-size: 16px;
  line-height: 165%;
  margin-bottom: 56px;
}
.benefits .benefits-card-hover {
  opacity: 0;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 95px 56px;
  background: #009FE3;
  transition: all ease-in 0.25s;
}
.benefits .benefits-card-hover__text {
  margin-bottom: 44px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .benefits__content {
    padding: 128px 0 48px 0;
  }
  .benefits .benefits-card {
    width: calc(50% - 16px);
  }
  .benefits .benefits-card-hover {
    padding: 82px 84px;
  }
}
@media screen and (max-width: 768px) {
  .benefits__content {
    padding: 96px 0 48px 0;
  }
  .benefits__cards {
    gap: 24px 0;
  }
  .benefits .benefits-card {
    width: calc(50% - 12px);
  }
  .benefits .benefits-card-hover {
    padding: 95px 26px;
  }
}
@media screen and (max-width: 575px) {
  .benefits__content {
    padding: 96px 0 40px 0;
  }
  .benefits__title {
    font-size: 30px;
  }
  .benefits__cards {
    gap: 24px 0;
  }
  .benefits .benefits-card {
    width: 100%;
    max-height: 336px;
    min-height: auto;
    height: auto;
  }
  .benefits .benefits-card-front {
    padding: 40px 16px;
  }
}
@media screen and (max-width: 375px) {
  .benefits__content {
    padding: 64px 0 24px 0;
  }
  .benefits__title {
    font-size: 20px;
  }
  .benefits__cards {
    gap: 16px 0;
  }
  .benefits .benefits-card {
    width: 100%;
    max-height: 315px;
    min-height: auto;
  }
  .benefits .benefits-card-front {
    padding: 40px 16px;
  }
  .benefits .benefits-card-hover {
    padding: 70px 12px;
  }
}
.brands {
  padding: 128px 0 0 0;
  background: #FFFFFF;
}
.brands__title {
  margin-bottom: 48px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #0C131D;
}
.brands__row {
  padding: 150px 128px;
  background: #FFFFFF;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 80px;
}
.brands__logo {
  max-width: 416px;
  width: 40%;
}
.brands__logo img {
  width: 100%;
}
.brands__text {
  max-width: 512px;
  width: 49%;
  font-size: 16px;
  line-height: 165%;
  color: #0C131D;
}
.brands__text span {
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .brands__row {
    padding: 136px 88px;
  }
  .brands__logo {
    max-width: 296px;
    width: 38%;
  }
  .brands__logo img {
    width: 100%;
  }
  .brands__text {
    max-width: 408px;
    width: 50%;
  }
  .brands__text span {
    font-weight: 700;
  }
}
@media screen and (max-width: 768px) {
  .brands {
    padding: 96px 0 0 0;
  }
  .brands__row {
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    gap: 100px 0;
    padding: 64px 88px;
  }
  .brands__logo {
    max-width: 296px;
    width: 56%;
  }
  .brands__logo img {
    width: 100%;
  }
  .brands__text {
    max-width: 100%;
    width: 100%;
    text-align: justify;
  }
}
@media screen and (max-width: 480px) {
  .brands {
    padding: 96px 0 0 0;
  }
  .brands__row {
    gap: 100px 0;
    padding: 40px 24px;
  }
  .brands__logo {
    max-width: 296px;
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .brands {
    padding: 64px 0 0 0;
  }
  .brands__title {
    font-size: 20px;
  }
  .brands__row {
    gap: 100px 0;
    padding: 32px 16px;
  }
  .brands__logo {
    max-width: 296px;
    width: 100%;
  }
  .brands__text {
    font-size: 15px;
  }
}
.catalog {
  background-color: white;
  position: relative;
}
.catalog__content {
  padding: 128px 0;
}
.catalog__content .catalog__title {
  margin-bottom: 48px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #0C131D;
}
.catalog__content .catalog__cards {
  display: flex;
  gap: 32px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog__content .catalog-card {
  display: flex;
  flex-direction: column;
  width: calc(33.3333% - 21.3333px);
  background: #f7f9fa;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  transition: transform ease-in 0.25s;
  cursor: pointer;
}
.catalog__content .catalog-card:hover {
  transform: scale(1.02);
}
.catalog__content .catalog-card__img {
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.catalog__content .catalog-card__img img {
  width: 100%;
}
.catalog__content .catalog-card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 32px;
  background-color: #f7f9fa;
  height: -webkit-fill-available;
  height: -moz-fill-available;
  justify-content: space-between;
}
.catalog__content .catalog-card__info .catalog-card__text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 165%;
  color: #0C131D;
}
.catalog__content .catalog-card__info .catalog-card__link {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #009FE3;
  justify-self: flex-end;
}
.catalog .modal-order {
  position: fixed;
  overflow: hidden;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: height ease-in 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.catalog .modal-order-content {
  max-width: 816px;
  padding: 56px 40px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  overflow: auto;
}
.catalog .modal-order-content .modal-order-form__row {
  margin: 16px 0 24px 0;
  display: flex;
  justify-content: space-between;
}
.catalog .modal-order-content .modal-order-form__row-left {
  width: 45%;
  max-width: 340px;
}
.catalog .modal-order-content .modal-order-form__row-left .modal-order-form__element:nth-of-type(1) {
  margin-bottom: 16px;
}
.catalog .modal-order-content .modal-order-form__row-right {
  width: 54%;
  max-width: 368px;
}
.catalog .modal-order-content .modal-order-form__row-right .modal-order-form__element:nth-of-type(1) {
  height: 100%;
}
.catalog .modal-order-content .modal-order-form__row-right .modal-order-form__element:nth-of-type(1) img {
  align-self: flex-start;
}
.catalog .modal-order-content .modal-order-form__row-right .modal-order-form__element:nth-of-type(1) textarea {
  align-self: flex-start;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  resize: none;
  outline: none;
  color: #0C131D;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.catalog .modal-order-content .modal-order-form__row-right .modal-order-form__element:nth-of-type(1) textarea::placeholder {
  color: #0C131D;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.catalog .modal-order-content .modal-order-form__element {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background-color: #F7F9FA;
  border-radius: 4px;
  gap: 16px;
}
.catalog .modal-order-content .modal-order-form__element input {
  width: 100%;
  background: none;
  color: #0C131D;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.catalog .modal-order-content .modal-order-form__element input::placeholder {
  color: #0C131D;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.catalog .modal-order-content .modal-order__close {
  position: absolute;
  top: 16px;
  right: 16px;
}
.catalog .modal-order-content .modal-order__title {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 150%;
  color: #0C131D;
}
.catalog .modal-order-content .modal-order-form__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog .modal-order-content .modal-order-form__bottom .modal-order-form__text {
  max-width: 288px;
  font-size: 12px;
  line-height: 135%;
  color: #557D8E;
}
.catalog .modal-order-content .modal-order-form__bottom .modal-order-form__submit {
  padding: 16px 74px;
  background: #009FE3;
  box-shadow: 0px 0px 10px rgba(0, 66, 114, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: background ease-in 0.25s;
}
.catalog .modal-order-content .modal-order-form__bottom .modal-order-form__submit:hover {
  background: rgba(0, 159, 227, 0.8);
}
.catalog .modal-order-content .modal-order-form__bottom .modal-order-form__submit input {
  background: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .catalog__content .catalog-card {
    width: calc(50% - 16px);
  }
  .catalog__content .catalog-card__img {
    padding: 40px 84px;
  }
}
@media screen and (max-width: 768px) {
  .catalog__content {
    padding: 96px 0;
  }
  .catalog__content .catalog-card {
    width: calc(50% - 12px);
  }
  .catalog__content .catalog-card__img {
    padding: 40px 26px;
  }
}
@media screen and (max-width: 575px) {
  .catalog__content {
    padding: 64px 0;
  }
  .catalog__content .catalog__title {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .catalog__content .catalog-card {
    width: 100%;
  }
  .catalog__content .catalog-card__img {
    padding: 24px 32px;
    max-height: 242px;
  }
  .catalog__content .catalog-card__img img {
    width: 223px;
    height: 218px;
  }
  .catalog__content .catalog-card__info {
    padding: 24px 16px;
  }
  .catalog__content .catalog-card__info .catalog-card__text {
    font-size: 14px;
  }
  .catalog .modal-order {
    align-items: flex-start;
  }
  .catalog .modal-order-content {
    padding: 36px 24px;
  }
  .catalog .modal-order-content .modal-order-form__row {
    flex-direction: column;
  }
  .catalog .modal-order-content .modal-order-form__row-left {
    width: 100%;
    max-width: 100%;
  }
  .catalog .modal-order-content .modal-order-form__row-left .modal-order-form__element:not(-nth-last-of-type) {
    margin-bottom: 16px;
  }
  .catalog .modal-order-content .modal-order-form__row-right {
    width: 100%;
    max-width: 100%;
  }
  .catalog .modal-order-content .modal-order-form__row-right .modal-order-form__element:nth-of-type(1) {
    height: auto;
  }
  .catalog .modal-order-content .modal-order-form__row-right .modal-order-form__element:nth-of-type(1) textarea {
    font-size: 14px;
  }
  .catalog .modal-order-content .modal-order-form__row-right .modal-order-form__element:nth-of-type(1) textarea::placeholder {
    font-size: 14px;
  }
  .catalog .modal-order-content .modal-order-form__element {
    width: 100%;
    padding: 16px 24px;
  }
  .catalog .modal-order-content .modal-order-form__element input {
    width: 100%;
    font-size: 14px;
  }
  .catalog .modal-order-content .modal-order-form__element input::placeholder {
    font-size: 14px;
  }
  .catalog .modal-order-content .modal-order-form__bottom {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  .catalog .modal-order-content .modal-order-form__bottom .modal-order-form__text {
    text-align: center;
  }
  .catalog .modal-order-content .modal-order-form__bottom .modal-order-form__submit input {
    font-size: 14px;
  }
}
.information {
  width: 100%;
}
.information__content {
  display: flex;
  flex-wrap: wrap;
}
.information__content .information__block {
  width: 50%;
}
.information__content .information__block .information__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.information__content .information__block .definition {
  max-width: 528px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.information__content .information__block .definition__title {
  margin-bottom: 32px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #0C131D;
}
.information__content .information__block .definition__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  color: #0C131D;
}
.information__content .information__block .definition__text:nth-of-type(1) {
  margin-bottom: 16px;
}
.information__content .information__block .definition__list {
  width: 100%;
  margin: 16px 0 0 0;
  padding: 0;
  list-style: url("../../../img/information/information-list-icon.svg");
  list-style-position: inside;
  font-size: 16px;
  line-height: 165%;
  color: #0C131D;
}
.information__content .information__block .definition__list li + li {
  margin-top: 8px;
}

@media screen and (max-width: 1024px) {
  .information__content {
    display: flex;
    flex-wrap: wrap;
  }
  .information__content .information__block {
    width: 100%;
  }
  .information__content .information__block:nth-of-type(3) {
    order: 4;
  }
  .information__content .information__block:nth-of-type(5) {
    order: 4;
  }
  .information__content .information__block:nth-of-type(6) {
    order: 5;
  }
  .information__content .information__block .definition {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .information__content {
    display: flex;
    flex-wrap: wrap;
  }
  .information__content .information__block {
    width: 100%;
  }
  .information__content .information__block:nth-of-type(3) {
    order: 4;
  }
  .information__content .information__block:nth-of-type(5) {
    order: 4;
  }
  .information__content .information__block:nth-of-type(6) {
    order: 5;
  }
  .information__content .information__block .definition {
    max-width: 100%;
    padding: 20px;
  }
  .information__content .information__block .definition__title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .information__content .information__block .definition__text {
    font-size: 14px;
  }
  .information__content .information__block .definition__list {
    font-size: 14px;
  }
}
.news {
  padding: 128px 0 0 0;
}
.news__title {
  margin-bottom: 48px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #0C131D;
}
.news__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news__card {
  width: calc(33.3333% - 21.3333px);
  border-radius: 4px;
}
.news__card .card__top {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.news__card .card__top > img {
  width: 100%;
  height: 100%;
}
.news__card .card__top .card__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 9px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity ease-in 0.25s;
}
.news__card .card__top .date {
  position: absolute;
  bottom: 2px;
  left: 0;
  background: #009FE3;
  padding: 8px;
  border-radius: 0px 0px 0px 4px;
  max-width: 108px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 135%;
  color: #FFFFFF;
}
.news__card .card__hover:hover {
  opacity: 1;
}
.news__card .card__bottom {
  margin-top: 10px;
}
.news__card .card__bottom .card__title {
  margin-bottom: 12px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #0C131D;
}

@media screen and (max-width: 1024px) {
  .news__row {
    gap: 24px;
  }
  .news__card {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 768px) {
  .news {
    padding: 96px 0 0 0;
  }
  .news__title {
    font-size: 30px;
    margin-bottom: 36px;
  }
  .news__row {
    gap: 16px;
  }
  .news__card {
    width: calc(50% - 12px);
  }
  .news__card .card__top .date {
    font-size: 12px;
    line-height: 100%;
  }
  .news__card .card__hover:hover {
    opacity: 1;
  }
  .news__card .card__bottom {
    margin-top: 10px;
  }
  .news__card .card__bottom .card__title {
    font-size: 14px;
    line-height: 100%;
  }
  .news__card .card__bottom .card__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .news {
    padding: 48px 0 0 0;
  }
  .news__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .news__row {
    gap: 16px;
  }
  .news__card {
    width: 100%;
  }
  .news__card .card__top .date {
    font-size: 12px;
    line-height: 100%;
  }
  .news__card .card__hover:hover {
    opacity: 1;
  }
  .news__card .card__bottom {
    margin-top: 10px;
  }
  .news__card .card__bottom .card__title {
    font-size: 14px;
    line-height: 100%;
  }
  .news__card .card__bottom .card__text {
    font-size: 14px;
  }
}
.career {
  padding: 144px 0 0 0;
}
.career__row {
  display: flex;
  justify-content: space-between;
}
.career__row .career__information, .career__row .career__img {
  width: calc(50% - 36px);
}
.career__row .career__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.career__row .career__information .information__title {
  margin-bottom: 32px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #0C131D;
}
.career__row .career__information .information__text {
  font-size: 16px;
  line-height: 165%;
  color: #0C131D;
}
.career__row .career__information .information__text + .information__text {
  margin-top: 16px;
}
.career__row .career__information .information__link {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-top: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #009FE3;
}

@media screen and (max-width: 1024px) {
  .career__row {
    gap: 40px 32px;
  }
  .career__row .career__information, .career__row .career__img {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .career {
    padding: 112px 0 0 0;
  }
  .career__row {
    gap: 40px 0;
    flex-wrap: wrap;
  }
  .career__row .career__information, .career__row .career__img {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .career__row {
    gap: 40px 0;
    flex-wrap: wrap;
  }
  .career__row .career__information, .career__row .career__img {
    width: 100%;
  }
  .career__row .career__information .information__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 375px) {
  .career {
    padding: 99px 0 0 0;
  }
  .career__row {
    gap: 32px 0;
  }
  .career__row .career__information .information__title {
    font-size: 20px;
  }
  .career__row .career__information .information__text {
    font-size: 14px;
  }
}
.contacts {
  padding: 128px 0 0 0;
  position: relative;
  height: max-content;
}
.contacts .contacts__row {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts .contacts__row .contacts__title {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #0C131D;
}
.contacts .contacts__row .contacts__card {
  max-width: 528px;
  padding: 64px 84px;
  background: #FFFFFF;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.contacts .contacts__row .contacts__card .card__number {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: capitalize;
  color: #0C131D;
}
.contacts .contacts__row .contacts__card .card__list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
.contacts .contacts__row .contacts__card .card__list li {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.contacts .contacts__row .contacts__card .card__list li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0C131D;
}
.contacts .contacts__row .contacts__card .card__phone-btn {
  max-width: 221px;
}
.contacts .map {
  width: 100%;
  height: 434px;
  position: absolute;
  top: 260px;
  left: 0;
}
.contacts .map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .contacts {
    padding: 96px 0 0 0;
  }
  .contacts .contacts__row .contacts__card {
    max-width: 496px;
    padding: 64px 48px;
  }
  .contacts .contacts__row .contacts__card .card__list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
  }
}
@media screen and (max-width: 900px) {
  .contacts {
    padding: 96px 0 0 0;
  }
  .contacts .contacts__row {
    flex-direction: column;
    gap: 24px 0;
  }
  .contacts .contacts__row .contacts__card {
    padding: 64px 48px;
  }
  .contacts .contacts__row .contacts__card .card__list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
  }
  .contacts .map {
    width: 100%;
    position: absolute;
    top: 442px;
    left: 0;
    z-index: -1;
  }
  .contacts .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 575px) {
  .contacts .contacts__row {
    flex-direction: column;
    gap: 24px 0;
  }
  .contacts .contacts__row .contacts__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 375px) {
  .contacts {
    padding: 64px 0 0 0;
  }
  .contacts .contacts__row {
    flex-direction: column;
    gap: 24px 0;
  }
  .contacts .contacts__row .contacts__title {
    font-size: 30px;
  }
  .contacts .contacts__row .contacts__card {
    padding: 32px 24px;
  }
}
.footer {
  padding: 64px 0;
  margin-top: 128px;
  background: #0C131D;
  color: #fff;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 12px;
}
.footer .footer__logos {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.footer .footer__nav {
  display: flex;
  gap: 0 40px;
}
.footer .footer__nav .footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.footer .footer__nav .footer__menu li a {
  font-size: 15px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer .footer__nav .footer__menu li a:hover {
  color: #009FE3;
  transition: color ease-in 0.25s;
}
.footer .footer__nav .footer__rights {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  font-size: 12px;
}
.footer .footer__nav .footer__rights .footer__sanitary {
  max-width: 235px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  line-height: 135%;
}
.footer .footer__nav .footer__rights .footer__sanitary img {
  cursor: pointer;
}
.footer .footer__nav .footer__rights .footer__info {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 160px;
    padding: 64px 0 56px 0;
  }
  .footer__content {
    flex-wrap: wrap;
    gap: 80px 0;
  }
  .footer .footer__logos {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .footer .footer__logos a {
    display: inline-block;
    width: 45%;
  }
  .footer .footer__logos a img {
    width: 100%;
  }
  .footer .footer__nav {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 64px 0 40px 0;
  }
  .footer .footer__logos a {
    width: 48%;
  }
  .footer .footer__nav {
    flex-wrap: wrap;
    gap: 0;
  }
  .footer .footer__nav .footer__menu {
    width: 50%;
  }
  .footer .footer__nav .footer__rights {
    margin-top: 72px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .footer__nav .footer__rights .footer__sanitary {
    width: 50%;
  }
  .footer .footer__nav .footer__rights .footer__info {
    width: 50%;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    padding: 56px 0 40px 0;
  }
  .footer__content {
    gap: 64px 0;
  }
  .footer .footer__logos {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px 0;
  }
  .footer .footer__logos a {
    width: 50%;
  }
  .footer .footer__nav {
    flex-wrap: wrap;
    gap: 0;
  }
  .footer .footer__nav .footer__menu {
    width: 100%;
    align-items: center;
  }
  .footer .footer__nav .footer__menu + .footer__menu {
    margin-top: 16px;
  }
  .footer .footer__nav .footer__rights {
    margin-top: 62px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px 0;
  }
  .footer .footer__nav .footer__rights .footer__sanitary {
    width: 100%;
  }
  .footer .footer__nav .footer__rights .footer__info {
    width: 100%;
    text-align: center;
  }
}